# dependencies
/.pnp
.pnp.js

# testing
/coverage
*/venv/
venv/HEAD
venv/
__pycache__/
*.pyc

# production
*/build
*/node_modules
*/*/migrations
*/db.sqlite3
*/mediafiles

# misc
.DS_Store
.idea
.env.local
core/.env.development
.env.production
.env.test
.env.db.test
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/launch.json
